sphinx==1.8.2
sphinx-gallery==0.3.1
docutils==0.16
sphinx-copybutton
tqdm
numpy
matplotlib
seaborn
torch
torchvision
PyHamcrest
sphinxcontrib-katex

# PyTorch Theme
-e git+git://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
